<!DOCTYPE html>
<html>
<head>
<title>Supplier View</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script src="js/supplier.js"></script>
</head>

<body data-ng-app="app1">
	<div data-ng-controller="ctrl1">
		<input type="text" placeholder="enter name" data-ng-model="searchName" />
		<button data-ng-click="search(searchName)">Search</button>
		<button data-ng-click="getAll()">Show All</button>
		<button data-ng-click="openAddForm()">Create Item</button>

		<div data-ng-show="editForm" >
			<label for="name">Name</label>
			<input type="text" id="name" data-ng-model="name"/>
			
			<label for="quantity">Quantity</label>
			<input type="text" id="quantity" data-ng-model="quantity" /> 
				
			<label for="price">Price</label> 
			<input type="text" id="price" data-ng-model="price" />
			
			<button data-ng-show="addButton" data-ng-click="add()">Add</button>
			<button data-ng-show="updateButton" data-ng-click="update(id)">Update</button>
			<button data-ng-click="close()">Close</button>
		</div>
		
		<table border="1">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>SupplierId</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in items | orderBy: 'name'">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.quantity}}</td>
					<td>{{item.price | currency}}</td>
					<td>{{item.supplierId}}</td>
					<td><button data-ng-click="openEditForm(item)" >Edit</button></td>
					<td><button data-ng-click="remove(item)">Remove</button></td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>